.css-hi6a2p {
  padding: 1rem 1rem 0rem;
}

.css-1l40rdr {
  border: solid 1px;
}

.css-1b32pqr {
  border: solid 0.5px;
  border-radius: 2px;
  background-color: #d5dae5;
  color: rgb(38 39 48);
}

.css-1y0tads {
  padding: 1rem 1rem 0rem;
}
